BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk12" SITE "A10";
IOBUF PORT "clk12" IO_TYPE=LVCMOS33;
LOCATE COMP "rst_n" SITE "G2";
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33;
LOCATE COMP "serial_rx" SITE "P2";
IOBUF PORT "serial_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "serial_tx" SITE "P3";
IOBUF PORT "serial_tx" IO_TYPE=LVCMOS33;
LOCATE COMP "user_led0" SITE "A13";
IOBUF PORT "user_led0" IO_TYPE=LVCMOS25;
LOCATE COMP "user_led1" SITE "A12";
IOBUF PORT "user_led1" IO_TYPE=LVCMOS25;
LOCATE COMP "user_led2" SITE "B19";
IOBUF PORT "user_led2" IO_TYPE=LVCMOS25;
LOCATE COMP "user_led3" SITE "A18";
IOBUF PORT "user_led3" IO_TYPE=LVCMOS25;
LOCATE COMP "user_led4" SITE "B18";
IOBUF PORT "user_led4" IO_TYPE=LVCMOS25;
LOCATE COMP "user_led5" SITE "C17";
IOBUF PORT "user_led5" IO_TYPE=LVCMOS25;
LOCATE COMP "user_led6" SITE "A17";
IOBUF PORT "user_led6" IO_TYPE=LVCMOS25;
LOCATE COMP "user_led7" SITE "B17";
IOBUF PORT "user_led7" IO_TYPE=LVCMOS25;
FREQUENCY PORT "clk12" 12.0 MHz;