BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk25" SITE "P3";
IOBUF PORT "clk25" IO_TYPE=LVCMOS33;
LOCATE COMP "cpu_reset_n" SITE "K18";
IOBUF PORT "cpu_reset_n" IO_TYPE=LVCMOS33;
IOBUF PORT "cpu_reset_n" PULLMODE=UP;
LOCATE COMP "sdram_clock" SITE "B9";
IOBUF PORT "sdram_clock" IO_TYPE=LVCMOS33;
LOCATE COMP "serial_tx" SITE "J17";
IOBUF PORT "serial_tx" IO_TYPE=LVCMOS33;
LOCATE COMP "serial_rx" SITE "H18";
IOBUF PORT "serial_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "user_led_n0" SITE "U16";
IOBUF PORT "user_led_n0" IO_TYPE=LVCMOS33;
LOCATE COMP "spiflash_cs_n" SITE "R2";
IOBUF PORT "spiflash_cs_n" IO_TYPE=LVCMOS33;
LOCATE COMP "spiflash_mosi" SITE "W2";
IOBUF PORT "spiflash_mosi" IO_TYPE=LVCMOS33;
LOCATE COMP "spiflash_miso" SITE "V2";
IOBUF PORT "spiflash_miso" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[0]" SITE "B13";
IOBUF PORT "sdram_a[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[0]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[1]" SITE "C14";
IOBUF PORT "sdram_a[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[1]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[2]" SITE "A16";
IOBUF PORT "sdram_a[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[2]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[3]" SITE "A17";
IOBUF PORT "sdram_a[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[3]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[4]" SITE "B16";
IOBUF PORT "sdram_a[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[4]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[5]" SITE "B15";
IOBUF PORT "sdram_a[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[5]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[6]" SITE "A14";
IOBUF PORT "sdram_a[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[6]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[7]" SITE "A13";
IOBUF PORT "sdram_a[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[7]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[8]" SITE "A12";
IOBUF PORT "sdram_a[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[8]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[9]" SITE "A11";
IOBUF PORT "sdram_a[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[9]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[10]" SITE "B12";
IOBUF PORT "sdram_a[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[10]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[0]" SITE "D15";
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[0]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[1]" SITE "E14";
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[1]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[2]" SITE "E13";
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[2]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[3]" SITE "D12";
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[3]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[4]" SITE "E12";
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[4]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[5]" SITE "D11";
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[5]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[6]" SITE "C10";
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[6]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[7]" SITE "B17";
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[7]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[8]" SITE "B8";
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[8]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[9]" SITE "A8";
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[9]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[10]" SITE "C7";
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[10]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[11]" SITE "A7";
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[11]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[12]" SITE "A6";
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[12]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[13]" SITE "B6";
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[13]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[14]" SITE "A5";
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[14]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[15]" SITE "B5";
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[15]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[16]" SITE "D5";
IOBUF PORT "sdram_dq[16]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[16]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[17]" SITE "C5";
IOBUF PORT "sdram_dq[17]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[17]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[18]" SITE "D6";
IOBUF PORT "sdram_dq[18]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[18]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[19]" SITE "C6";
IOBUF PORT "sdram_dq[19]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[19]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[20]" SITE "E7";
IOBUF PORT "sdram_dq[20]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[20]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[21]" SITE "D7";
IOBUF PORT "sdram_dq[21]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[21]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[22]" SITE "E8";
IOBUF PORT "sdram_dq[22]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[22]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[23]" SITE "D8";
IOBUF PORT "sdram_dq[23]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[23]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[24]" SITE "E9";
IOBUF PORT "sdram_dq[24]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[24]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[25]" SITE "D9";
IOBUF PORT "sdram_dq[25]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[25]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[26]" SITE "E11";
IOBUF PORT "sdram_dq[26]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[26]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[27]" SITE "C11";
IOBUF PORT "sdram_dq[27]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[27]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[28]" SITE "C12";
IOBUF PORT "sdram_dq[28]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[28]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[29]" SITE "D13";
IOBUF PORT "sdram_dq[29]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[29]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[30]" SITE "D14";
IOBUF PORT "sdram_dq[30]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[30]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[31]" SITE "C15";
IOBUF PORT "sdram_dq[31]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[31]" SLEWRATE=FAST;
LOCATE COMP "sdram_we_n" SITE "A10";
IOBUF PORT "sdram_we_n" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_we_n" SLEWRATE=FAST;
LOCATE COMP "sdram_ras_n" SITE "B10";
IOBUF PORT "sdram_ras_n" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_ras_n" SLEWRATE=FAST;
LOCATE COMP "sdram_cas_n" SITE "A9";
IOBUF PORT "sdram_cas_n" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_cas_n" SLEWRATE=FAST;
LOCATE COMP "sdram_ba[0]" SITE "B11";
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_ba[0]" SLEWRATE=FAST;
LOCATE COMP "sdram_ba[1]" SITE "C8";
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_ba[1]" SLEWRATE=FAST;
FREQUENCY PORT "clk25" 25.0 MHz;